@import "variables"
@import "mixins"
.excel__toolbar
    height: $toolbar-height
    border-bottom: 1px solid $border-color
    padding: 7px 10px
    display: flex
.toolbar
    &__button
        @include button(green)